body{
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.pixabay.com/photo/2016/12/06/01/26/colour-1885352_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        font-family: "Playwrite IT Trad", cursive;
        font-size: 44px;
        margin: 0;
    }
    p{
        font-family: "Nunito", sans-serif;
        font-size: 16px;
        margin: 0;
    }
}
.header-wrap{
    width: fit-content;
    margin: 20px auto;
    padding: 15px 45px;
    background-color: white;
    border-radius: 25px;
    text-align:center;
    #currentDay{
        font-size: 22px;
        font-weight: 700;
    }
}
.content-wrap{
    display:flex;
    max-width: 1024px;
    margin: 20px auto;
    .column{
        display:flex;
        flex-direction: column;
        &:nth-of-type(1){
            flex-basis: 25%;
        }
        &:nth-of-type(2){
            flex-basis: 75%;
            margin-left:25px;
        }
        .clock-wrap{
            margin: 0 0 20px;
            background-color: white;
            border-radius: 25px;
            padding: 25px;
        }
        .weather-wrap{
            display:flex;
            flex-direction: column;
            background-color: white;
            border-radius: 25px;
            padding: 25px;
            input#city{
                font-family: "Nunito", sans-serif;
                padding: 15px 10px;
                font-size: 16px;
                margin-bottom: 20px;
            }
            #getInfo{
                font-family: "Nunito", sans-serif;
                padding: 15px;
                font-size: 16px;
                background-color: white;
                border: 3px solid black;
            }
            .results-wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-top: 20px;
                #cityName{
                    font-size: 22px;
                    font-weight: 700px;
                }
                #temp {
                    .temperatures-from-api{
                        font-weight: 700;
                        font-size: 20px;
                    }
                }
            }
        }
        .calendar-wrap{
            display:flex;
            flex-direction: column;
            background-color: white;
            border-radius: 25px;
            padding: 25px;
            .timeslot{
                display:flex;
                flex-direction: row;
                height: 50px;
                margin: 5px 0 5px;
                > *{
                    // margin: 0 10px;
                }
                .hour-col{
                    flex-basis: 15%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .small-caps{
                        font-variant: small-caps;
                    }
                }
                .list-section{
                    flex-basis: 75%;
                    font-family: "Nunito", sans-serif;
                    font-size: 16px;
                    overflow-y: scroll;
                    background: transparent;
                    border: none;
                    border-left: 2px solid black;
                    border-right: 2px solid black;
                }
                .saveBtn{
                    flex-basis: 10%;
                    background: transparent;
                    border-right: 2px solid black;
                    border-top: 2px solid black;
                    border-bottom: 2px solid black;
                }
                &.past {
                    background-color: #d3d3d3;
                    color: white;
                }  
                &.present {
                    background-color: #ff6961;
                    color: white;
                }  
                &.future {
                    background-color: #77dd77;
                    color: white;
                }
                &:last-of-type(){
                    margin: 0 0 0;
                }
            }
        }
    }
}
footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    text-align: center;
    font-weight:700;
}