html{
    background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3JtNDUxLWJnLTA2LmpwZw.jpg);
    background-size: contain;
}    
body{
    margin: 0;
    padding: 0;
    // background-image: url('https://cdn.pixabay.com/photo/2016/12/06/01/26/colour-1885352_1280.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    h1{
        font-family: "Playwrite IT Trad", cursive;
        font-size: 34px;
        margin: 0;
    }
    p{
        font-family: "Nunito", sans-serif;
        font-size: 16px;
        margin: 0;
    }
}

.content-wrap{
    display:flex;
    max-width: 1024px;
    margin: 20px auto;
    .column{
        display:flex;
        flex-direction: column;
        &:nth-of-type(1){
            flex-basis: 25%;
        }
        &:nth-of-type(2){
            flex-basis: 75%;
            margin-left:25px;
        }
        .header-wrap{
            background-color: white;
            border-radius: 25px;
            text-align:center;
            margin-bottom: 20px;
            #currentDay{
                font-size: 22px;
                font-weight: 700;
            }
        }
        .clock-wrap{
            margin: 0 0 20px;
            background-color: white;
            border-radius: 25px;
            padding: 25px;
        }
        .weather-wrap{
            display:flex;
            flex-direction: column;
            background-color: white;
            border-radius: 25px;
            padding: 25px;
            .weather-og-state{
                display:flex;
                flex-direction: column;
                input#city{
                    font-family: "Nunito", sans-serif;
                    padding: 15px 10px;
                    font-size: 16px;
                    margin-bottom: 20px;
                }
                #getInfo{
                    font-family: "Nunito", sans-serif;
                    padding: 15px;
                    font-size: 16px;
                    background-color: white;
                    border: 3px solid black;
                }
            }
            .results-wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-top: 20px;
                #cityName{
                    font-size: 22px;
                    font-weight: 700px;
                    display: flex;
                    align-items: center;
                    img{
                        width: 40px;
                        height: auto;
                    }
                }
                #temp {
                    padding-top: 5px;
                    border-top: 1px dashed;
                    .temperatures-from-api{
                        font-weight: 700;
                        font-size: 20px;
                    }
                }
            }
        }
        .calendar-wrap{
            display:flex;
            flex-direction: column;
            background-color: white;
            border-radius: 25px;
            padding: 25px;
            .timeslot{
                display:flex;
                flex-direction: row;
                height: 60px;
                margin: 5px 0 5px;
                .hour-col{
                    flex-basis: 15%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .small-caps{
                        font-variant: small-caps;
                    }
                }
                .list-section{
                    flex-basis: 75%;
                    font-family: "Nunito", sans-serif;
                    font-size: 16px;
                    overflow-y: scroll;
                    background: transparent;
                    border: none;
                    border-left: 2px solid black;
                }
                .saveBtn{
                    flex-basis: 10%;
                    background: transparent;
                    border-right: 2px solid black;
                    border-top: 2px solid black;
                    border-bottom: 2px solid black;
                    &:hover{
                        background-color: #fcb3ab;
                    }
                }
                &.past {
                    background-color: #d3d3d3;
                }  
                &.present {
                    background-color: #fff7cc;
                }  
                &.future {
                    background-color: #8ee2d2;
                }
                &:last-of-type(){
                    margin: 0 0 0;
                }
            }
        }
    }
}
footer{
    position: fixed;
    bottom: 0;
    font-weight: 700;
    padding: 10px;
    background: white;
    p{
        font-size: 12px;
    }
}

@media (max-width: 1200px){
    .content-wrap{
        flex-direction: column;
        margin: 20px 50px 50px;
        max-width: none;
        .column:nth-of-type(1){
            flex-direction:row;
            flex-wrap: wrap;
            justify-content: space-between;
            .header-wrap{
                flex-basis: 47%;
                padding: 10px 0;
            }
            .clock-wrap{
                text-align: center;
                flex-basis: 45%;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    font-size: 24px;
                }
            }
            .weather-wrap{
                width: 100%;
                flex-direction: row;
                justify-content: space-around;
                .weather-og-state{
                    flex-basis: 40%;
                    #city{
                        margin-top: 5px;
                    }
                }
                .results-wrapper{
                    flex-basis: 40%;
                }
            }
        }
        .column:nth-of-type(2) {
            margin-top: 20px;
            margin-left: 0;
        }
    }
    footer{
        text-align: center;
        position: relative;
    }
}

@media (max-width: 767px){
    .content-wrap{
        margin: 20px 30px 50px;
        .column:nth-of-type(1){
            flex-direction: column;
            flex-wrap: nowrap;
            .header-wrap, .clock-wrap{
                flex-basis: auto;
            }
            .weather-wrap{
                flex-direction: column;
                width:auto;
                text-align: center;
                .weather-og-state{
                    #city{
                        text-align: center;
                    }
                }
            }
        }
        .column:nth-of-type(2){
            .calendar-wrap{
                .timeslot{
                    flex-wrap: wrap;
                    height: auto;
                    min-height: 150px;
                    .hour-col{
                        order: -1;
                        flex-basis: 49.65%;
                        border-bottom: 2px solid black;
                        border-top: 2px solid black;
                        border-left: 2px solid black;                        
                    }
                    .list-section{
                        flex-basis: 100%;
                        border-bottom: 2px solid black;
                        border-right: 2px solid black;
                    }
                    .saveBtn{
                        order: -1;
                        flex-basis: 50%;
                        border: 2px solid black;
                    }
                }
            }
        }
    }
}